<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>ClipBoard</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/element-ui/2.13.2/theme-chalk/index.css" rel="stylesheet" />
    <link rel="stylesheet" href="./static/style.css" />
  </head>
  <body>
    <div id="app">
      <el-container>
        <el-header><h1>剪切板</h1></el-header>
        <el-main>
          <el-row style="display: flex;">
            <div>
              <el-tooltip content="复制" placement="top">
                <el-button
                  type="primary"
                  icon="el-icon-copy-document"
                  v-clipboard:copy="clipboard"
                  v-clipboard:success="onCopy"
                  v-clipboard:error="onError"
                  circle
                ></el-button>
              </el-tooltip>
              <el-tooltip content="清空" placement="top">
                <el-button
                  type="danger"
                  icon="el-icon-delete"
                  circle
                  @click="onDelete"
                  :disabled="!lockStatus"
                ></el-button>
              </el-tooltip>
              <el-button :class="lockStatusStyle" circle></el-button>

              <div style="line-height: 40px; display: inline-block; margin: 0 20px 0 20px;">
                <span v-if="lock_owner">
                  <span v-if="lockStatus">你正在编辑</span>
                  <span v-else>其他人正在编辑</span>
                </span>
                <span v-else>点击文本框即可编辑</span>
              </div>
            </div>

            <div style="margin-left: auto;">
              <div style="line-height: 40px; display: inline-block;">
                <i class="el-icon-user-solid"></i>
                {{ online_users_num }}
              </div>
              <el-button :class="upToDateStyle" style="margin-left: 10px;" circle></el-button>
            </div>
          </el-row>
          <el-row :gutter="10">
            <el-input
              type="textarea"
              :autosize="{minRows:20}"
              placeholder="请输入内容"
              :readonly="readonly"
              v-model="clipboard"
              @focus="onFocus"
              @blur="onBlur"
            ></el-input>
          </el-row>
        </el-main>
      </el-container>
    </div>
  </body>

  <!-- Vue -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
  <!-- Vue Clipboard -->
  <script src="https://cdn.bootcdn.net/ajax/libs/vue-clipboard2/0.3.1/vue-clipboard.min.js"></script>
  <!-- element-ui -->
  <script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.13.2/index.js"></script>
  <!-- axios -->
  <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.min.js"></script>
  <!-- fingerprint2 -->
  <script src="https://cdn.bootcdn.net/ajax/libs/fingerprintjs2/2.1.0/fingerprint2.min.js"></script>
  <script src="./static/clipboard.js"></script>
</html>
